.idea/
__pycache__/
deploy/web_app/web_app/debug.py
deploy/web_app/web_app/deploy.py
deploy/web_app/web_app/settings.py
deploy/web_app/web_app/test.py
recursos/minsa/2021/
recursos/minsa/2022/
recursos/minsa/minsa.csv
recursos/minsa/Minsa_limpio.txt
recursos/senamhi/2021/
recursos/senamhi/2022/
recursos/senamhi/senamhiCO.csv
recursos/senamhi/senamhiEMA.csv
recursos/senamhi/SenamhiCO_limpio.txt
recursos/senamhi/SenamhiCO_limpio_2.txt
recursos/senamhi/SenamhiCO_SinEstandarizar.txt
recursos/senamhi/SenamhiEMA_limpio.txt
recursos/senamhi/SenamhiEMA_limpio_2.txt
recursos/senamhi/SenamhiEMA_SinEstandarizar.txt
*.sqlite3
